body
{
	font-family: 'Segoe UI', sans-serif;
}

.panel
{
	margin: 1em;
}

#field
{
	border: solid 1px #000;
	padding: 1em;
}

#latex
{
	font-family: monospace;
	border: dashed 1px #000;
	padding: 0.4em 1em;
	white-space: pre-wrap;
}

#candy
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -o-box-orient: vertical; -ms-box-orient: vertical;
	background-color: #fff;
	border: solid 1px #000;
	position: absolute;
}

.candidate
{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.candidateSelected
{
	background-color: #cfc;
}

.active
{
	border: solid 1px #fcc;
	margin: 0.05em;
}

.curret
{
}

.marked
{
	background-color: #ecf;
}

.hiddenWorks
{
	display: none;
}
