body
{
	font-family: 'Segoe UI', sans-serif;
}

.panel
{
	margin: 1em;
}

#field
{
	border: solid 1px #000;
	padding: 1em;
	position: relative;
}

#latex
{
	font-family: monospace;
	border: dashed 1px #000;
	padding: 0.4em 1em;
	white-space: pre-wrap;
}

#candy
{
	display: box; display: -moz-box; display: -webkit-box;
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical;
	background-color: #fff;
	border: solid 1px #000;
	position: absolute;
}

.candidate
{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.candidateSelected
{
	background-color: #cfc;
}

.candidateSucc
{
	background: linear-gradient(to bottom, #777, #ccc 15%, #eee 25%, #fff 50%, #fff);
	background: -moz-linear-gradient(top, #777, #ccc 15%, #eee 25%, #fff 50%, #fff);
	background: -webkit-gradient(linear, center top, center bottom, from(#888), color-stop(0.15, #ccc), color-stop(0.25, #eee), color-stop(0.50, #fff), to(#fff));
}
.candidateLast
{
	background: linear-gradient(to bottom, #fff, #fff 50%, #eee 75%, #ccc 85%, #888);
	background: -moz-linear-gradient(top, #fff, #fff 50%, #eee 75%, #ccc 85%, #888);
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), color-stop(0.50, #fff), color-stop(0.75, #eee), color-stop(0.85, #ccc), to(#777));
}

#ghost
{
	position: absolute;
	left: 0px;
	top: 0px;
}

.active
{
	border: solid 1px #fcc;
	margin: 0.05em;
}

.blank
{
	border: dotted 1px #666;
	min-width: 0.4em;
}

.marked
{
	background-color: #ecf;
}

.arrowStart
{
	border: solid 1px #9f9;
}

.hiddenWorks
{
	display: none;
}
