.math
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-align: center; -webkit-box-align: center; -moz-box-align: center; -o-box-align: center; -ms-box-align: center;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal; -ms-box-orient: horizontal;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center; -ms-box-pack: center;
	text-align: center;
}

.frac
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -o-box-orient: vertical; -ms-box-orient: vertical;
}

.symbol
{
	margin: 0.1em;
	border: solid 1px #99f;
}

.field
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
}

.formula
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-align: end; -webkit-box-align: end; -moz-box-align: end; -o-box-align: end; -ms-box-align: end;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal; -ms-box-orient: horizontal;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center; -ms-box-pack: center;
}

.infered
{
	border-top: solid 1px #000;
}

.label
{
	margin-bottom: 1em;
}

.power
{
	margin-bottom: 1em;
	font-size: smaller;
}

.active
{
	
}

.brace
{
}

.blank
{
	border: dotted 1px #666;
}
