.math
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-align: center; -webkit-box-align: center; -moz-box-align: center; -o-box-align: center; -ms-box-align: center;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal; -ms-box-orient: horizontal;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center; -ms-box-pack: center;
	text-align: center;
}

.embraced
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-align: strech; -webkit-box-align: strech; -moz-box-align: strech; -o-box-align: strech; -ms-box-align: strech;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal; -ms-box-orient: horizontal;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center; -ms-box-pack: center;
	text-align: center;
}
.bracket
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95% 80%;
	width: 0.8em;
}

.frac
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -o-box-orient: vertical; -ms-box-orient: vertical;
}

.symbol
{
	margin: 0.1em;
	border: solid 1px #99f;
}

.formula
{
	display: box; display: -moz-box; display: -webkit-box; display: -o-box; display: -ms-box;
	box-align: end; -webkit-box-align: end; -moz-box-align: end; -o-box-align: end; -ms-box-align: end;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal; -ms-box-orient: horizontal;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center; -ms-box-pack: center;
}

.infered
{
	border-top: solid 1px #000;
}

.label
{
	margin-bottom: 1em;
}

.power
{
	margin-bottom: 1em;
	font-size: smaller;
}

.index
{
	margin-top: 1em;
	font-size: smaller;
}

.matrix
{
	display: table;
}
.matrix .row
{
	display: table-row;
}
.matrix .cell
{
	display: table-cell;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.active
{
	
}

.brace
{
	border: solid 1px #9f9;
}

.blank
{
	border: dotted 1px #666;
}
