.math
{
	display: flex; display: -moz-box; display: -webkit-box;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -ms-flex-align: center;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -ms-flex-direction: row;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -ms-flex-pack: center;
	text-align: center;
}

.embraced
{
	display: flex; display: -moz-box; display: -webkit-box;
	box-align: stretch; -moz-box-align: stretch; -webkit-box-align: stretch; -ms-flex-align: stretch;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -ms-flex-direction: row;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -ms-flex-pack: center;
	text-align: center;
}
.bracket
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	width: 0.8em;
}

.frac
{
	display: flex; display: -moz-box; display: -webkit-box;
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -ms-flex-direction: column;
}

.variable
{
	margin: 0.1em;
	border: solid 1px #99f;
	font-style: italic;
}

.symbol
{
	margin: 0.1em;
	border: solid 1px #99f;
}

.styledLetter
{
	margin: 0.1em 0em;
	border: none;
}

.operator
{
	font-size: xx-large;
}

.number
{
	margin: 0.1em;
	border: solid 1px #99f;
}

.formula
{
	display: flex; display: -moz-box; display: -webkit-box;
	box-align: end; -moz-box-align: end; -webkit-box-align: end; -ms-flex-align: end;
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -ms-flex-direction: row;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -ms-flex-pack: center;
}
.formulaStyled
{
	border: solid 1px #fb6;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.overline
{
	border-top: solid 1px #000;
}

.label
{
	margin-bottom: 1em;
}

.power
{
	margin-bottom: 1em;
	font-size: smaller;
}

.index
{
	margin-top: 1em;
	font-size: smaller;
}

.matrix
{
	display: table;
}
.matrix .row
{
	display: table-row;
}
.matrix .cell
{
	display: table-cell;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.active
{
	
}

.blank
{
	border: dotted 1px #666;
	min-width: 0.4em;
}